.card,
.card-light {
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
    -moz-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
    box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
    border: 0
}

.card .card-header,
.card-light .card-header {
    padding: 1rem 1.25rem;
    background-color: transparent;
    border-bottom: 1px solid #ebecec !important
}

.card .card-header:first-child,
.card-light .card-header:first-child {
    border-radius: 0
}

.card .card-header .card-head-row,
.card-light .card-header .card-head-row {
    display: flex;
    align-items: center
}

.card .card-header .card-head-row .card-tools,
.card-light .card-header .card-head-row .card-tools {
    margin-left: auto;
    float: right;
    padding-left: 15px
}

.card .separator-solid,
.card-light .separator-solid {
    border-top: 1px solid #ebecec;
    margin: 15px 0
}

.card .separator-dashed,
.card-light .separator-dashed {
    border-top: 1px dashed #ebecec;
    margin: 15px 0
}

.card .separator-dot,
.card-light .separator-dot {
    border-top: 1px dotted #ebecec;
    margin: 15px 0
}

.card .full-width-separator,
.card-light .full-width-separator {
    margin: 15px -20px 15px
}

.card .b-b1,
.card-light .b-b1 {
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.card .card-body,
.card-light .card-body {
    padding: 1.25rem
}

.card .card-footer,
.card-light .card-footer {
    background-color: transparent;
    line-height: 30px;
    border-top: 1px solid #ebecec !important;
    font-size: 13px
}

.card .pull-in,
.card-light .pull-in {
    margin-left: -1.25rem;
    margin-right: -1.25rem
}

.card .pull-in.sparkline-fix,
.card-light .pull-in.sparkline-fix {
    margin-left: -1.35rem;
    margin-right: -1.35rem;
    margin-bottom: -3px
}

.card .chart-as-background,
.card-light .chart-as-background {
    position: absolute;
    bottom: 0;
    width: calc(100% + 2px)
}

.card .card-action,
.card-light .card-action {
    padding: 30px;
    background-color: transparent;
    line-height: 30px;
    border-top: 1px solid #ebecec !important;
    font-size: 14px
}

.card .card-footer hr,
.card-light .card-footer hr {
    margin-top: 5px;
    margin-bottom: 5px
}

.card .card-footer .legend,
.card-light .card-footer .legend {
    display: inline-block
}

@media screen and (max-width:476px) {
    .card .card-header .card-head-row:not(.card-tools-still-right) {
        flex-direction: column;
        align-items: unset
    }
    .card .card-header .card-head-row:not(.card-tools-still-right) .card-tools {
        margin-left: 0;
        float: left;
        padding-left: 0;
        padding-top: 10px
    }
}

.card.full-height {
    height: calc(100% - 30px)
}

.card-space {
    padding: 0 30px
}

.card-space>.card-action,
.card-space>.card-body,
.card-space>.card-footer,
.card-space>.card-header {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.card-with-nav .card-header {
    border-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.card-with-nav .card-body {
    padding: 15px 25px !important
}

.card-list {
    padding: 10px 0
}

.card-list .item-list {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center
}

.card-list .item-list .info-user {
    flex: 1
}

.card-list .item-list .info-user .username,
.card-list .item-list .info-user a.username {
    color: #1572e8;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 400
}

.card-list .item-list .info-user .status {
    font-size: 11px;
    color: #7d7b7b
}

.card-title {
    margin: 0;
    color: #575962;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6
}

.card-title a,
.card-title a:focus,
.card-title a:hover {
    color: #575962;
    text-decoration: none
}

.card-sub {
    display: block;
    margin: 5px 0 10px 0;
    font-size: .9rem;
    background: #f7f8fa;
    color: #575962;
    padding: .85rem 1.5rem;
    border-radius: 4px;
    line-height: 1.82
}

.card-category {
    margin-top: 8px;
    font-size: 14px;
    color: #8d9498;
    margin-bottom: 0;
    word-break: normal
}

label {
    font-size: 14px;
    font-weight: 400;
    color: #8d9498;
    margin-bottom: 0
}

.card-transparent {
    background: 0 0 !important;
    box-shadow: none;
    border-color: transparent !important
}

.card-stats .card-body {
    padding: 15px !important
}

.card-stats .card-title {
    margin-bottom: 0 !important
}

.card-stats .card-category {
    margin-top: 0
}

.card-stats .col-icon {
    width: 65px;
    height: 65px;
    margin-left: 15px
}

.card-stats .icon-big {
    width: 100%;
    height: 100%;
    font-size: 2.2em;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center
}

.card-stats .icon-big.icon-danger,
.card-stats .icon-big.icon-default,
.card-stats .icon-big.icon-info,
.card-stats .icon-big.icon-primary,
.card-stats .icon-big.icon-secondary,
.card-stats .icon-big.icon-success,
.card-stats .icon-big.icon-warning {
    border-radius: 5px
}

.card-stats .icon-big.icon-danger i,
.card-stats .icon-big.icon-default i,
.card-stats .icon-big.icon-info i,
.card-stats .icon-big.icon-primary i,
.card-stats .icon-big.icon-secondary i,
.card-stats .icon-big.icon-success i,
.card-stats .icon-big.icon-warning i {
    color: #fff !important
}

.card-stats .icon-big.icon-default {
    background: #1a2035
}

.card-stats .icon-big.icon-primary {
    background: #1572e8
}

.card-stats .icon-big.icon-secondary {
    background: #6861ce
}

.card-stats .icon-big.icon-success {
    background: #31ce36
}

.card-stats .icon-big.icon-warning {
    background: #ffad46
}

.card-stats .icon-big.icon-info {
    background: #48abf7
}

.card-stats .icon-big.icon-danger {
    background: #f25961
}

.card-stats .icon-big.round {
    border-radius: 50% !important
}

.card-stats .col-stats {
    align-items: center;
    display: flex;
    padding-left: 15px
}

.card-tasks .table {
    margin-bottom: 0
}

.card-tasks .table .form-check {
    padding: 0 0 0 .75rem !important
}

.card-tasks .table .form-check label {
    margin-bottom: 0 !important
}

.card-tasks .table tbody td:first-child,
.card-tasks .table thead th:first-child {
    padding-left: 15px;
    padding-right: 15px
}

.card-tasks .table tbody td:last-child,
.card-tasks .table thead th:last-child {
    padding-right: 15px
}

.card-tasks .table tbody tr:last-child td {
    border-bottom-width: 0 !important
}

.card-tasks .card-body {
    padding-top: 0;
    padding-bottom: 0
}

.card-tasks .card-body .table td {
    font-size: 13px
}

.card-tasks .card-body .table td .btn {
    font-size: 15px;
    opacity: .7;
    transition: all .3s
}

.card-tasks .card-body .table td:hover .btn {
    opacity: 1
}

.card-tasks .form-button-action {
    display: block !important
}

.card-danger,
.card-dark,
.card-default,
.card-info,
.card-primary,
.card-secondary,
.card-success,
.card-warning {
    color: #fff;
    border: 0
}

.card-danger .card-header,
.card-dark .card-header,
.card-default .card-header,
.card-info .card-header,
.card-primary .card-header,
.card-secondary .card-header,
.card-success .card-header,
.card-warning .card-header {
    border-bottom: transparent !important
}

.card-danger .card-category,
.card-danger .card-title,
.card-danger label,
.card-dark .card-category,
.card-dark .card-title,
.card-dark label,
.card-default .card-category,
.card-default .card-title,
.card-default label,
.card-info .card-category,
.card-info .card-title,
.card-info label,
.card-primary .card-category,
.card-primary .card-title,
.card-primary label,
.card-secondary .card-category,
.card-secondary .card-title,
.card-success .card-category,
.card-success .card-title,
.card-success label,
.card-warning .card-category,
.card-warning .card-title,
.card-warning label {
    color: #fff
}

.card-danger .icon-big>i,
.card-dark .icon-big>i,
.card-default .icon-big>i,
.card-info .icon-big>i,
.card-primary .icon-big>i,
.card-secondary .icon-big>i,
.card-success .icon-big>i,
.card-warning .icon-big>i {
    color: #fff !important
}

.card-danger .card-footer,
.card-dark .card-footer,
.card-default .card-footer,
.card-info .card-footer,
.card-primary .card-footer,
.card-secondary .card-footer,
.card-success .card-footer,
.card-warning .card-footer {
    border-top: transparent !important
}

.card-default {
    background: #1a2035 !important
}

.card-primary {
    background: #1572e8 !important
}

.card-secondary {
    background: #6861ce !important
}

.card-info {
    background: #48abf7 !important
}

.card-success {
    background: #31ce36 !important
}

.card-warning {
    background: #ffad46 !important
}

.card-danger {
    background: #f25961 !important
}

.card-round {
    border-radius: 5px
}

.progress-card {
    margin-bottom: 25px
}

.progress-card .progress-status {
    display: flex;
    margin-bottom: 10px;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.card-post .info-post .username {
    margin-bottom: 0;
    font-weight: 600
}

.card-post .info-post .date {
    margin-bottom: 0
}

.card-pricing {
    padding: 20px 5px;
    text-align: center;
    border-radius: 5px
}

.card-pricing .card-header {
    border-bottom: 0 !important
}

.card-pricing .card-footer {
    border-top: 0 !important;
    padding: 15px 15px 10px 15px
}

.card-pricing .card-title {
    font-weight: 400;
    font-size: 20px
}

.card-pricing .card-price .price {
    font-size: 36px;
    font-weight: 400
}

.card-pricing .card-price .text {
    font-size: 18px;
    font-weight: 400;
    color: #d1d7e3
}

.card-pricing .specification-list {
    list-style: none;
    padding-left: 0
}

.card-pricing .specification-list li {
    padding: 8px 0 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px
}

.card-pricing .specification-list li .name-specification {
    color: #83848a
}

.card-pricing .specification-list li .status-specification {
    margin-left: auto;
    float: right;
    font-weight: 400
}

.card-pricing.card-pricing-focus {
    padding: 40px 5px
}

.card-pricing.card-danger .name-specification,
.card-pricing.card-default .name-specification,
.card-pricing.card-info .name-specification,
.card-pricing.card-primary .name-specification,
.card-pricing.card-secondary .name-specification,
.card-pricing.card-success .name-specification,
.card-pricing.card-warning .name-specification {
    color: #fff !important
}

.card-pricing.card-primary .specification-list li {
    border-color: #2f8bff !important
}

.card-pricing.card-primary .btn-light {
    color: #1572e8 !important
}

.card-pricing.card-success .specification-list li {
    border-color: #64e069 !important
}

.card-pricing.card-success .btn-light {
    color: #31ce36 !important
}

.card-pricing.card-secondary .specification-list li {
    border-color: #7f77dc !important
}

.card-pricing.card-secondary .btn-light {
    color: #6861ce !important
}

.card-pricing.card-default .specification-list li {
    border-color: #6f8996 !important
}

.card-pricing.card-default .btn-light {
    color: #1a2035 !important
}

.card-pricing.card-info .specification-list li {
    border-color: #11c0e4 !important
}

.card-pricing.card-info .btn-light {
    color: #48abf7 !important
}

.card-pricing.card-danger .specification-list li {
    border-color: #ff6972 !important
}

.card-pricing.card-danger .btn-light {
    color: #f25961 !important
}

.card-pricing.card-warning .specification-list li {
    border-color: #ffbc67 !important
}

.card-pricing.card-warning .btn-light {
    color: #ffad46 !important
}

.card-pricing2 {
    padding-bottom: 10px;
    background: #fff !important;
    border-bottom: 7px solid;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    -moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08)
}

.card-pricing2:before {
    content: "";
    width: 100%;
    height: 350px;
    position: absolute;
    top: -150px;
    left: 0;
    transform: skewY(-20deg)
}

.card-pricing2 .price-value:after,
.card-pricing2 .price-value:before {
    content: "";
    left: 50%;
    transform: translateX(-50%) scaleY(.5) rotate(45deg)
}

.card-pricing2 .value:after,
.card-pricing2 .value:before {
    content: "";
    left: 50%;
    transform: translateX(-50%) scaleY(.5) rotate(45deg)
}

.card-pricing2 .pricing-header {
    padding: 20px 20px 60px;
    text-align: left;
    position: relative
}

.card-pricing2 .sub-title {
    display: block;
    font-size: 16px
}

.card-pricing2 .value {
    background: #fff
}

.card-pricing2 .price-value {
    display: inline-block;
    width: 170px;
    height: 110px;
    padding: 15px;
    border: 2px solid;
    border-top: none;
    border-bottom: none;
    position: relative
}

.card-pricing2 .price-value:after,
.card-pricing2 .price-value:before {
    width: 121px;
    height: 121px;
    border: 3px solid;
    border-right: none;
    border-bottom: none;
    position: absolute;
    top: -60px
}

.card-pricing2 .price-value:after {
    border-top: none;
    border-left: none;
    border-bottom: 3px solid;
    border-right: 3px solid;
    top: auto;
    bottom: -60px
}

.card-pricing2 .value {
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-top: none;
    border-bottom: none;
    z-index: 1;
    position: relative
}

.card-pricing2 .value:after,
.card-pricing2 .value:before {
    width: 97px;
    height: 97px;
    background: #fff;
    border: 3px solid;
    border-bottom: none;
    border-right: none;
    position: absolute;
    top: -48px;
    z-index: -1
}

.card-pricing2 .value:after {
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-top: none;
    border-left: none;
    top: auto;
    bottom: -48px
}

.card-pricing2 .currency {
    display: inline-block;
    font-size: 30px;
    margin-top: 7px;
    vertical-align: top
}

.card-pricing2 .amount {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    line-height: 65px
}

.card-pricing2 .amount span {
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    vertical-align: top;
    margin-top: -7px
}

.card-pricing2 .month {
    display: block;
    font-size: 16px;
    line-height: 0
}

.card-pricing2 .pricing-content {
    padding: 50px 0 0 80px;
    margin-bottom: 20px;
    list-style: none;
    text-align: left;
    transition: all .3s ease 0s
}

.card-pricing2 .pricing-content li {
    padding: 7px 0;
    font-size: 13px;
    color: grey;
    position: relative
}

.card-pricing2 .pricing-content li.disable:before,
.card-pricing2 .pricing-content li:before {
    content: "\f00c";
    font-family: 'Font Awesome 5 Solid';
    font-weight: 900;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #98c458;
    text-align: center;
    color: #fff;
    position: absolute;
    left: -50px;
    font-size: 9px
}

.card-pricing2 .pricing-content li.disable:before {
    content: "\f00d";
    background: #fe6c6c
}

.card-pricing2.card-default {
    border-bottom-color: #1a2035
}

.card-pricing2.card-default .price-value:before,
.card-pricing2.card-default .value:before {
    border-left-color: #1a2035;
    border-top-color: #1a2035
}

.card-pricing2.card-default .price-value,
.card-pricing2.card-default .value {
    border-right-color: #1a2035
}

.card-pricing2.card-default .price-value:after,
.card-pricing2.card-default .value:after {
    border-right-color: #1a2035
}

.card-pricing2.card-default .price-value:after,
.card-pricing2.card-default .value:after {
    border-bottom-color: #1a2035
}

.card-pricing2.card-default .value {
    color: #1a2035
}

.card-pricing2.card-default:before {
    background: #1a2035
}

.card-pricing2.card-default .price-value,
.card-pricing2.card-default .value {
    border-left-color: #1a2035
}

.card-pricing2.card-primary {
    border-bottom-color: #1572e8
}

.card-pricing2.card-primary .price-value:before,
.card-pricing2.card-primary .value:before {
    border-left-color: #1572e8;
    border-top-color: #1572e8
}

.card-pricing2.card-primary .price-value,
.card-pricing2.card-primary .value {
    border-right-color: #1572e8
}

.card-pricing2.card-primary .price-value:after,
.card-pricing2.card-primary .value:after {
    border-right-color: #1572e8
}

.card-pricing2.card-primary .price-value:after,
.card-pricing2.card-primary .value:after {
    border-bottom-color: #1572e8
}

.card-pricing2.card-primary .value {
    color: #1572e8
}

.card-pricing2.card-primary:before {
    background: #1572e8
}

.card-pricing2.card-primary .price-value,
.card-pricing2.card-primary .value {
    border-left-color: #1572e8
}

.card-pricing2.card-secondary {
    border-bottom-color: #6861ce
}

.card-pricing2.card-secondary .price-value:before,
.card-pricing2.card-secondary .value:before {
    border-left-color: #6861ce;
    border-top-color: #6861ce
}

.card-pricing2.card-secondary .price-value,
.card-pricing2.card-secondary .value {
    border-right-color: #6861ce
}

.card-pricing2.card-secondary .price-value:after,
.card-pricing2.card-secondary .value:after {
    border-right-color: #6861ce
}

.card-pricing2.card-secondary .price-value:after,
.card-pricing2.card-secondary .value:after {
    border-bottom-color: #6861ce
}

.card-pricing2.card-secondary .value {
    color: #6861ce
}

.card-pricing2.card-secondary:before {
    background: #6861ce
}

.card-pricing2.card-secondary .price-value,
.card-pricing2.card-secondary .value {
    border-left-color: #6861ce
}

.card-pricing2.card-info {
    border-bottom-color: #48abf7
}

.card-pricing2.card-info .price-value:before,
.card-pricing2.card-info .value:before {
    border-left-color: #48abf7;
    border-top-color: #48abf7
}

.card-pricing2.card-info .price-value,
.card-pricing2.card-info .value {
    border-right-color: #48abf7
}

.card-pricing2.card-info .price-value:after,
.card-pricing2.card-info .value:after {
    border-right-color: #48abf7
}

.card-pricing2.card-info .price-value:after,
.card-pricing2.card-info .value:after {
    border-bottom-color: #48abf7
}

.card-pricing2.card-info .value {
    color: #48abf7
}

.card-pricing2.card-info:before {
    background: #48abf7
}

.card-pricing2.card-info .price-value,
.card-pricing2.card-info .value {
    border-left-color: #48abf7
}

.card-pricing2.card-success {
    border-bottom-color: #31ce36
}

.card-pricing2.card-success .price-value:before,
.card-pricing2.card-success .value:before {
    border-left-color: #31ce36;
    border-top-color: #31ce36
}

.card-pricing2.card-success .price-value,
.card-pricing2.card-success .value {
    border-right-color: #31ce36
}

.card-pricing2.card-success .price-value:after,
.card-pricing2.card-success .value:after {
    border-right-color: #31ce36
}

.card-pricing2.card-success .price-value:after,
.card-pricing2.card-success .value:after {
    border-bottom-color: #31ce36
}

.card-pricing2.card-success .value {
    color: #31ce36
}

.card-pricing2.card-success:before {
    background: #31ce36
}

.card-pricing2.card-success .price-value,
.card-pricing2.card-success .value {
    border-left-color: #31ce36
}

.card-pricing2.card-warning {
    border-bottom-color: #ffad46
}

.card-pricing2.card-warning .price-value:before,
.card-pricing2.card-warning .value:before {
    border-left-color: #ffad46;
    border-top-color: #ffad46
}

.card-pricing2.card-warning .price-value,
.card-pricing2.card-warning .value {
    border-right-color: #ffad46
}

.card-pricing2.card-warning .price-value:after,
.card-pricing2.card-warning .value:after {
    border-right-color: #ffad46
}

.card-pricing2.card-warning .price-value:after,
.card-pricing2.card-warning .value:after {
    border-bottom-color: #ffad46
}

.card-pricing2.card-warning .value {
    color: #ffad46
}

.card-pricing2.card-warning:before {
    background: #ffad46
}

.card-pricing2.card-warning .price-value,
.card-pricing2.card-warning .value {
    border-left-color: #ffad46
}

.card-pricing2.card-danger {
    border-bottom-color: #f25961
}

.card-pricing2.card-danger .price-value:before,
.card-pricing2.card-danger .value:before {
    border-left-color: #f25961;
    border-top-color: #f25961
}

.card-pricing2.card-danger .price-value,
.card-pricing2.card-danger .value {
    border-right-color: #f25961
}

.card-pricing2.card-danger .price-value:after,
.card-pricing2.card-danger .value:after {
    border-right-color: #f25961
}

.card-pricing2.card-danger .price-value:after,
.card-pricing2.card-danger .value:after {
    border-bottom-color: #f25961
}

.card-pricing2.card-danger .value {
    color: #f25961
}

.card-pricing2.card-danger:before {
    background: #f25961
}

.card-pricing2.card-danger .price-value,
.card-pricing2.card-danger .value {
    border-left-color: #f25961
}

.row-cardProduct {
    padding: 0 5px;
    white-space: nowrap;
    overflow-x: auto;
    display: block !important;
    margin-right: -2rem;
    width: unset !important
}

.col-cardProduct {
    width: 225px;
    padding: 0 10px;
    display: inline-block
}

.card-product {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 7px 15px rgba(0, 0, 0, .12);
    margin-bottom: 15px
}

.card-product .product-summary {
    padding: 15px
}

@media screen and (max-width:768px) {
    .col-cardProduct {
        width: 175px
    }
    .card-product .title-product {
        font-size: 14px
    }
    .card-product .price-product {
        font-size: 18px
    }
}

.skew-shadow {
    position: relative;
    overflow: hidden
}

.skew-shadow:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .1);
    width: 50%;
    min-width: 150px;
    height: 100%;
    top: 0;
    right: -25%;
    transform: skewX(-32.5deg)
}

.bubble-shadow {
    position: relative;
    overflow: hidden
}

.bubble-shadow:before {
    position: absolute;
    top: -10%;
    right: -140px;
    width: 300px;
    height: 300px;
    content: "";
    border-radius: 50%;
    background: rgba(255, 255, 255, .05)
}

.bubble-shadow:after {
    position: absolute;
    top: -65px;
    right: 80px;
    width: 150px;
    height: 150px;
    content: "";
    border-radius: 50%;
    background: rgba(255, 255, 255, .05)
}

.curves-shadow {
    position: relative;
    overflow: hidden
}

.curves-shadow:before {
    content: '';
    position: absolute;
    background: url(../img/img-shadow.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

@media only screen and (max-width:990px) {
    .card-pricing2 {
        margin-bottom: 30px
    }
}

@media only screen and (max-width:767px) {
    .card-pricing2:before {
        transform: skewY(-15deg)
    }
}

.card-annoucement .card-body {
    padding: 50px 25px
}

.card-annoucement .card-opening {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .01em
}

.card-annoucement .card-desc {
    padding: 15px 0;
    font-size: 16px;
    line-height: 1.65;
    font-weight: 300
}

.card-annoucement.card-primary .btn-light {
    color: #1572e8 !important
}

.card-annoucement.card-success .btn-light {
    color: #31ce36 !important
}

.card-annoucement.card-secondary .btn-light {
    color: #6861ce !important
}

.card-annoucement.card-default .btn-light {
    color: #1a2035 !important
}

.card-annoucement.card-info .btn-light {
    color: #48abf7 !important
}

.card-annoucement.card-danger .btn-light {
    color: #f25961 !important
}

.card-annoucement.card-warning .btn-light {
    color: #ffad46 !important
}

.card-profile {
    color: #575962
}

.card-profile .profile-picture {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -41px;
    width: 100%;
    box-sizing: border-box
}

.card-profile .user-profile .name {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px
}

.card-profile .user-profile .job {
    color: #83848a;
    margin-bottom: 5px
}

.card-profile .user-profile .desc {
    color: #bbb;
    margin-bottom: 15px
}

.card-profile .user-profile .social-media {
    margin-bottom: 20px
}

.card-profile .user-profile .social-media .btn {
    padding: 5px !important
}

.card-profile .user-profile .social-media .btn i {
    font-size: 22px !important
}

.card-profile .user-stats {
    margin-bottom: 10px
}

.card-profile .user-stats [class^=col] {
    border-right: 1px solid #ebebeb
}

.card-profile .user-stats [class^=col]:last-child {
    border-right: 0
}

.card-profile .user-stats .number {
    font-weight: 400;
    font-size: 15px
}

.card-profile .user-stats .title {
    color: #7d7b7b
}

.card-profile .card-header {
    border-bottom: 0;
    height: 100px;
    position: relative
}

.card-profile .card-body {
    padding-top: 60px
}

.card-profile .card-footer {
    border-top: 0
}

.card-profile.card-secondary .card-header {
    background: #6861ce
}

.row-card-no-pd {
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
    background: #fff;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    -webkit-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
    -moz-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
    box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
    border: 0
}

.row-card-no-pd .card {
    margin-bottom: 0;
    border-width: 0;
    box-shadow: none;
    position: unset
}

.row-card-no-pd .card .card-header {
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-right: 0 !important
}

.row-card-no-pd [class*=col] .card:before {
    position: absolute;
    height: calc(100%);
    width: 1px;
    background: #eee;
    content: '';
    right: 0
}

.row-card-no-pd [class*=col]:last-child .card:before {
    width: 0
}

.accordion .card {
    border-radius: 5px !important;
    background: #f7f7f7 !important;
    color: #575962 !important;
    border: 0;
    box-shadow: none
}

.accordion .card .span-icon {
    font-size: 22px;
    padding-left: 15px;
    padding-right: 15px
}

.accordion .card>.card-header {
    border: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 0 !important
}

.accordion .card>.card-header>.span-mode {
    margin-left: auto
}

.accordion .card>.card-header>.span-mode:before {
    content: "\f068" !important;
    font-family: 'Font Awesome 5 Solid';
    font-weight: 900;
    font-size: 16px
}

.accordion .card>.card-header.collapsed>.span-mode:before {
    content: "\f067" !important
}

.accordion .card .card-body {
    border-top: 1px solid #ebebeb;
    padding: 30px
}

.accordion.accordion-danger .card .card-header,
.accordion.accordion-danger .card .card-header .btn-link,
.accordion.accordion-default .card .card-header,
.accordion.accordion-default .card .card-header .btn-link,
.accordion.accordion-info .card .card-header,
.accordion.accordion-info .card .card-header .btn-link,
.accordion.accordion-primary .card .card-header,
.accordion.accordion-primary .card .card-header .btn-link,
.accordion.accordion-secondary .card .card-header,
.accordion.accordion-secondary .card .card-header .btn-link,
.accordion.accordion-success .card .card-header,
.accordion.accordion-success .card .card-header .btn-link,
.accordion.accordion-warning .card .card-header,
.accordion.accordion-warning .card .card-header .btn-link {
    font-size: 14px
}

.accordion.accordion-default .card .card-header {
    color: #1a2035
}

.accordion.accordion-default .card .card-header .btn-link {
    color: #1a2035 !important
}

.accordion.accordion-primary .card .card-header {
    color: #1572e8
}

.accordion.accordion-primary .card .card-header .btn-link {
    color: #1572e8 !important
}

.accordion.accordion-secondary .card .card-header {
    color: #6861ce
}

.accordion.accordion-secondary .card .card-header .btn-link {
    color: #6861ce !important
}

.accordion.accordion-info .card .card-header {
    color: #48abf7
}

.accordion.accordion-info .card .card-header .btn-link {
    color: #48abf7 !important
}

.accordion.accordion-success .card .card-header {
    color: #31ce36
}

.accordion.accordion-success .card .card-header .btn-link {
    color: #31ce36 !important
}

.accordion.accordion-warning .card .card-header {
    color: #ffad46
}

.accordion.accordion-warning .card .card-header .btn-link {
    color: #ffad46 !important
}

.accordion.accordion-danger .card .card-header {
    color: #f25961
}

.accordion.accordion-danger .card .card-header .btn-link {
    color: #f25961 !important
}

.border-transparent {
    border-color: transparent !important
}

.gutters-0 {
    margin-right: 0;
    margin-left: 0
}

.gutters-0>.col,
.gutters-0>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.gutters-0 .card {
    margin-bottom: 0
}

.gutters-xs {
    margin-right: -.25rem;
    margin-left: -.25rem
}

.gutters-xs>.col,
.gutters-xs>[class*=col-] {
    padding-right: .25rem;
    padding-left: .25rem
}

.gutters-xs .card {
    margin-bottom: .5rem
}

.gutters-sm {
    margin-right: -.5rem;
    margin-left: -.5rem
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: .5rem;
    padding-left: .5rem
}

.gutters-sm .card {
    margin-bottom: 1rem
}

.gutters-lg {
    margin-right: -1rem;
    margin-left: -1rem
}

.gutters-lg>.col,
.gutters-lg>[class*=col-] {
    padding-right: 1rem;
    padding-left: 1rem
}

.gutters-lg .card {
    margin-bottom: 2rem
}

.gutters-xl {
    margin-right: -1.5rem;
    margin-left: -1.5rem
}

.gutters-xl>.col,
.gutters-xl>[class*=col-] {
    padding-right: 1.5rem;
    padding-left: 1.5rem
}

.gutters-xl .card {
    margin-bottom: 3rem
}

.nav-pills>li:first-child>.nav-link {
    border-radius: 4px 0 0 4px !important
}

.nav-pills>li:last-child>.nav-link {
    border-radius: 0 4px 4px 0 !important
}

.nav-link.disabled {
    color: #6c757d !important
}

.nav-pills .nav-link {
    padding: 10px 20px
}

.nav-pills>li>.nav-link {
    margin-left: -1px;
    border-radius: 0 !important;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #1572e8;
    color: #585c5d
}

.nav-pills>li>.nav-link.active {
    background: #1572e8
}

.nav-pills>li>.nav-link:hover {
    background: rgba(222, 222, 222, .4)
}

.nav-pills.nav-pills-no-bd li {
    margin-left: 15px !important
}

.nav-pills.nav-pills-no-bd li .nav-link {
    border: 0 !important;
    border-radius: 50px !important;
    background: rgba(222, 222, 222, .4)
}

.nav-pills.nav-pills-no-bd li .nav-link.active {
    border-radius: 50px !important
}

.nav-pills.nav-pills-no-bd li:first-child {
    margin-left: 0 !important
}

.nav-pills.nav-pills-no-bd.nav-pills-icons .nav-link,
.nav-pills.nav-pills-no-bd.nav-pills-icons .nav-link.active {
    border-radius: 5px !important
}

.nav-pills.flex-column .nav-link {
    border-radius: 0 !important;
    border: 1px solid #1572e8;
    color: #585c5d;
    margin-top: -1px;
    text-align: center;
    word-wrap: normal;
    padding: 10px 0
}

.nav-pills.flex-column .nav-link:hover {
    background: rgba(222, 222, 222, .4)
}

.nav-pills.flex-column .nav-link.active {
    background: #1572e8
}

.nav-pills.flex-column .nav-link:first-child {
    border-radius: 4px 4px 0 0 !important
}

.nav-pills.flex-column .nav-link:last-child {
    border-radius: 0 0 4px 4px !important
}

.nav-pills.flex-column.nav-pills-no-bd .nav-link {
    border: 0 !important;
    border-radius: 50px !important;
    background: rgba(222, 222, 222, .4);
    margin-top: 5px;
    margin-bottom: 5px
}

.nav-pills.flex-column.nav-pills-no-bd .nav-link.active {
    border-radius: 50px !important
}

.nav-pills.flex-column.nav-pills-icons .nav-link,
.nav-pills.flex-column.nav-pills-icons .nav-link.active {
    border-radius: 5px !important
}

.nav-pills.nav-pills-icons .nav-link,
.nav-pills.nav-pills-icons .nav-link.active {
    border-radius: 5px !important;
    padding-top: 12px;
    padding-bottom: 12px
}

.nav-pills.nav-pills-icons i {
    display: block;
    text-align: center;
    font-size: 2em;
    line-height: 50px
}

.nav-pills.nav-danger .nav-link,
.nav-pills.nav-default .nav-link,
.nav-pills.nav-info .nav-link,
.nav-pills.nav-primary .nav-link,
.nav-pills.nav-secondary .nav-link,
.nav-pills.nav-success .nav-link,
.nav-pills.nav-warning .nav-link {
    border: 1px solid #eee
}

.nav-pills.nav-danger .nav-link.active,
.nav-pills.nav-default .nav-link.active,
.nav-pills.nav-info .nav-link.active,
.nav-pills.nav-primary .nav-link.active,
.nav-pills.nav-secondary .nav-link.active,
.nav-pills.nav-success .nav-link.active,
.nav-pills.nav-warning .nav-link.active {
    color: #fff !important
}

.nav-pills.nav-default .nav-link.active {
    background: #1a2035;
    border: 1px solid #1a2035
}

.nav-pills.nav-primary .nav-link.active {
    background: #1572e8;
    border: 1px solid #1572e8
}

.nav-pills.nav-secondary .nav-link.active {
    background: #6861ce;
    border: 1px solid #6861ce
}

.nav-pills.nav-info .nav-link.active {
    background: #48abf7;
    border: 1px solid #48abf7
}

.nav-pills.nav-success .nav-link.active {
    background: #31ce36;
    border: 1px solid #31ce36
}

.nav-pills.nav-warning .nav-link.active {
    background: #ffad46;
    border: 1px solid #ffad46
}

.nav-pills.nav-danger .nav-link.active {
    background: #f25961;
    border: 1px solid #f25961
}