* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f9fbfd;
    font-size: 14px;
    color: #575962;
}

a:hover {
    text-decoration: none;
}

.logo img {
    height: 55px;
}

.search-form {
    border: 1px solid #1c1d1f;
    border-radius: 9999px;
}

.search-form input {
    border: none;
    border-radius: unset;
    background-color: transparent;
    border-radius: 9999px;
}

.search-form input:focus {
    background-color: transparent;
}

.search-form button {
    background-color: transparent;
    padding: 0 1.2rem;
    width: 4.8rem;
    border: none;
}

/*--menu---*/

.menu {}

.menu .nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

.menu .nav-link {
    font-size: 16px;
}

.menu .nav-link i {
    font-size: 14px;
}

.menu .nav-item {
    border-bottom: 2px solid transparent;
}

.menu .active,
.menu .nav-item:hover {
    border-bottom-color: #41a9ff;
}

header .btn-link {
    color: #41a9ff;
    text-decoration: none;
}

header .btn-link:hover {
    text-decoration: none !important;
}

.btn-search {
    color: #fff;
    background-color: #41a9ff;
    border-color: #41a9ff;
}

.btn-search:hover {
    color: #fff;
    background-color: #015ba5;
    border-color: #015ba5;
}

/*--menu---*/

.Icon--darkTheme--2U1o8 {
    fill: #2b2b2b;
    color: #2b2b2b;
}

.Icon--icon--2AbGu {
    display: inline-block;
    height: auto;
    width: 24px;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.temp-current {
    font-size: 20px;
    font-weight: bold;
}

.temp-feel {
    font-size: 18px;
    font-weight: 400;
}

.weather-detail svg {
    fill: #f9fbfd;
    color: #f9fbfd;
}

.weather-detail-cac-ngay svg {
    fill: #575962;
    color: #575962;
}

.weather-detail h3,
.weather-detail h6 {
    font-size: 14px;
    margin-bottom: 0;
}

.weather-detail .avatar {
    height: auto;
}

.op-8 {
    opacity: .8;
}

.btn-border {
    background: 0 0 !important
}

.btn-border:focus,
.btn-border:hover {
    background: 0 0 !important
}

.btn-border.btn-white {
    color: #fff !important;
    border: 1px solid #fff !important
}

.btn-border.btn-default {
    color: #1a2035 !important;
    border: 1px solid #1a2035 !important
}

.btn-border.btn-primary {
    color: #1572e8 !important;
    border: 1px solid #1572e8 !important
}

.btn-border.btn-secondary {
    color: #6861ce !important;
    border: 1px solid #6861ce !important
}

.btn-border.btn-info {
    color: #48abf7 !important;
    border: 1px solid #48abf7 !important
}

.btn-border.btn-success {
    color: #31ce36 !important;
    border: 1px solid #31ce36 !important
}

.btn-border.btn-warning {
    color: #ffad46 !important;
    border: 1px solid #ffad46 !important
}

.btn-border.btn-danger {
    color: #f25961 !important;
    border: 1px solid #f25961 !important
}

.btn-border.btn-light {
    border: 1px solid #efefef;
    background: #fff !important
}

.btn-round {
    border-radius: 100px !important
}

.btn-link {
    border: 0 !important;
    background: 0 0 !important
}

.btn-link:focus,
.btn-link:hover {
    text-decoration: underline !important;
    background: 0 0 !important;
    border: 0 !important
}

.btn-link.btn-default {
    color: #1a2035 !important
}

.btn-link.btn-default:hover {
    color: #1a2035 !important
}

.btn-link.btn-primary {
    color: #1572e8 !important
}

.btn-link.btn-primary:hover {
    color: #1572e8 !important
}

.btn-link.btn-secondary {
    color: #6861ce !important
}

.btn-link.btn-secondary:hover {
    color: #6861ce !important
}

.btn-link.btn-info {
    color: #48abf7 !important
}

.btn-link.btn-info:hover {
    color: #48abf7 !important
}

.btn-link.btn-success {
    color: #31ce36 !important
}

.btn-link.btn-success:hover {
    color: #31ce36 !important
}

.btn-link.btn-warning {
    color: #ffad46 !important
}

.btn-link.btn-warning:hover {
    color: #ffad46 !important
}

.btn-link.btn-danger {
    color: #f25961 !important
}

.btn-link.btn-danger:hover {
    color: #f25961 !important
}

.toggle-on.btn {
    color: #fff !important
}

.toggle-handle {
    background: #fff !important
}

.toggle-handle:hover {
    background: #fff !important
}

.btn-round .toggle-handle {
    border-radius: 50px
}

.btn-rounded {
    border-radius: 60px !important
}

.current-position {
    background: linear-gradient(to right, #147ed5, #41a9ff);
    padding: 8px 0;
    color: #fff;
    font-weight: normal;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 14px;
}

.current-position span:hover {
    color: #fff;
}

.your-location {
    color: #ffffff;
    opacity: 0.9;
}

.your-location i {
    font-size: 12px;
    position: relative;
    top: 2px;
}

.your-location:hover {
    opacity: 1;
    color: #ffffff;
}

.current-position i {
    color: #ffa401;
    margin-right: 10px;
    font-size: 18px;
    position: relative;
}

header {
    background: #ffffff;
    -webkit-box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 10%);
    -moz-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
    box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 10%);
    padding-bottom: 5px;
}

.menu-top {
    width: 100%;
}

.section-wheather {}

.section-wheather-top {
    background: rgba(255, 255, 255, 0.08);
}

.wheather-date-list {
    display: flex;
    justify-content: space-between;
}

.wheather-date-item {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans';
    height: 100%;
}

.wheather-date-item:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.08);
}

.wheather-type-panel {
    display: flex;
    align-self: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-wheather-picker {
    background: transparent;
    color: #ffffff;
    border: none;
}

.btn-wheather-picker:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.08);
}

.wheather-date-week {
    align-self: center;
}

.location-wheather {
    text-align: center;
}

.location-wheather>.card {
    background: rgba(255, 255, 255, 0.02) !important;
    transition: transform 0.8s ease 0s !important;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.location-wheather:hover>.card {
    background: rgba(255, 255, 255, 0.08) !important;
}

.location-wheather a {
    color: #ffffff;
}

.location-wheather.active>.card {
    background: rgba(255, 255, 255, 0.08) !important;
}

.card-city-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card-city-body {
    display: flex;
    justify-content: center;
}

.card-city-body img {
    width: 70px;
}

.precipitation {
    font-size: 13px;
    font-weight: 400;
}

.wheather-group-title {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 12px 0 8px 0;
    margin: 0;
}

.card-city-footer {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}

.card-city-footer p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-left: 5px;
}

.current-location {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.02);
    transition: transform 0.8s ease 0s;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.08)
}

.location-name {
    font-size: 18px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    width: 100%;
}

.location-name span {
    display: block;
    min-width: 25px;
}

.btn-current-location {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.1);
    transition: transform 0.8s ease 0s;
    margin-left: 20px;
}

.btn-current-location:hover {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.location-auto-refresh {
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
    height: 16px;
    display: inline-block;
}

.overview-current {
    display: flex;
}

.overview-current img {
    width: 106px;
    height: 106px;
}

.current-temperature {
    display: inline-flex;
    line-height: 96px;
    font-size: 96px;
}

.unit-group {
    padding: 14px 10px 0 10px;
}

.unit-group>p {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.btn-unit-switcher {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    display: block;
    font-family: inherit;
    padding: 0px;
}

.btn-unit-switcher:hover {
    color: #fff;
}

.location-data-summary {}

.overview-caption-item {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0 14px 0;
    font-weight: 600;
    white-space: nowrap;
}

.overview-caption-item:last-child {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    opacity: 0.8;
}

.weather-detail {}

.weather-detail .separator-dashed,
.current-location .separator-dashed {
    border-top: 1px dashed rgba(255, 255, 255, 0.08);
    margin: 5px 0;
}

span.weather-icon {
    display: inline-block;
    height: auto;
    width: 24px;
    text-align: center;
    font-size: 17px;
}

.weather-night>.section-wheather {
    /*background-image: url(/img/bg/night-mb.png);*/
    background-color: #162443;
}

.weather-day>.section-wheather {
    /*background-image: url(/img/bg/sunny-mb.png);*/
    background-color: #275eaf;
}

.weather-feature {}

.weather-feature h2 {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 0 8px 0;
    margin: 0;
}

.weather-feature-day {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.weather-feature-day-btn {
    color: #ffffff;
    margin-right: 10px;
    background: rgba(255, 255, 255, .1);
    font-size: 14px;
    font-weight: normal;
    display: block;
    padding: 5px 10px;
}

.weather-feature-day-btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.08);
}

.weather-feature-time {
    color: #ffffff;
    font-size: 16px;
}

.weather-feature-time:hover {
    color: rgba(255, 255, 255, 0.8);
}

.weather-feature-day>a {
    display: block;
    border-radius: 3px;
    padding: 0;
    padding: 5px 0px;
    width: 100px;
}

.section-news {
    position: relative;
}

.section-news-bg {
    position: absolute;
    top: 0;
    height: 200px;
    width: 100%;
}

.card-top-news {
    padding: 0;
    position: relative;
}

.card-top-news .card-body {
    padding: 0;
}

.card-top-news .news-link {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #fff;
    padding: 10px;
}

.card-top-news .news-link h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    align-self: flex-end;
}

.card-news-default {
    padding: 0;
}

.card-news-default .card-body {
    padding: 0;
}

.card-news-default .news-category {
    color: #767676;
    font-size: 12px;
    line-height: 17px;
    height: 20px;
}

.card-news-default .news-link {
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.2s ease-in-out;
    color: #2B2B2B;
}

.card-news-default h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.card-news-default .news-link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 12px 16px 0;
}

footer {
    height: 50px;
    background: rgba(242, 242, 242, .9);
    display: flex;
    align-items: center;
}

.footer-items {
    margin: 0;
}

.footer-items a {
    text-decoration: none;
    line-height: 26px;
    white-space: nowrap;
    color: #2B2B2B;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.btn-your-city {
    color: #fff;
    font-weight: normal;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 14px;
    text-decoration: none !important;
    box-shadow: unset !important;
}

.btn-your-city:hover {
    color: #fff;
    text-decoration: none !important;
}

.img-logo-container {
    width: 100px;
}

/*
        responsive
    */

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    display: flex;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

@media (max-width:768px) {
    .wheather-date-list {
        display: block;
    }
    .top-header {
        display: flex;
        flex-direction: column;
    }
    footer {
        height: auto;
    }
    .footer-items {
        display: block;
    }
}

.weather-night>.section-news>.section-news-bg {
    background: linear-gradient(rgb(24, 38, 67) 10%, rgba(24, 38, 67, 0.992) 20%, rgba(24, 38, 67, 0.965) 30%, rgba(24, 38, 67, 0.918) 40%, rgba(24, 38, 67, 0.85) 50%, rgba(24, 38, 67, 0.77) 60%, rgba(24, 38, 67, 0.667) 70%, rgba(24, 38, 67, 0.557) 80%, rgba(24, 38, 67, 0.443) 90.1462%, rgba(24, 38, 67, 0.333) 91.5542%, rgba(24, 38, 67, 0.23) 92.9622%, rgba(24, 38, 67, 0.15) 94.3702%, rgba(24, 38, 67, 0.082) 95.7782%, rgba(24, 38, 67, 0.035) 97.184%, rgba(24, 38, 67, 0.008) 98.592%, rgba(24, 38, 67, 0) 100%);
}

.weather-day>.section-news>.section-news-bg {
    background: linear-gradient(rgb(34, 91, 172) 10%, rgba(34, 91, 172, 0.992) 20%, rgba(34, 91, 172, 0.965) 30%, rgba(34, 91, 172, 0.918) 40%, rgba(34, 91, 172, 0.85) 50%, rgba(34, 91, 172, 0.77) 60%, rgba(34, 91, 172, 0.667) 70%, rgba(34, 91, 172, 0.557) 80%, rgba(34, 91, 172, 0.443) 90.1462%, rgba(34, 91, 172, 0.333) 91.5542%, rgba(34, 91, 172, 0.23) 92.9622%, rgba(34, 91, 172, 0.15) 94.3702%, rgba(34, 91, 172, 0.082) 95.7782%, rgba(34, 91, 172, 0.035) 97.184%, rgba(34, 91, 172, 0.008) 98.592%, rgba(34, 91, 172, 0) 100%);
}

.news--group-title {
    position: relative;
    color: #fff;
    font-weight: 600;
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.overview-caption-item-detail {
    font-size: 30px;
}

.overview-caption-summary-detail {
    font-size: 16px !important;
}

.city-item {
    color: #fff;
    text-decoration: none;
    display: block;
}

.city-item:hover {
    background: rgba(255, 255, 255, 0.08) !important;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 500;
}

.tt-weather-icon {
    width: 50px;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.toast-container .toast {
    background: #fff;
}

.col-megamenu {}

.col-megamenu .title {
    padding-left: 0;
    padding-right: 0;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 0;
}

.mega-submenu {
    padding-left: 0;
    list-style: none;
}

.mega-submenu li {
    padding-left: 0;
    padding-right: 0;
}

.mega-submenu li a {
    display: block;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-size: 14px;
}

@media all and (min-width: 992px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar .has-megamenu {
        position: static !important;
    }
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        padding: 20px;
    }
    .navbar .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.breadcrumb {
    background-color: rgba(255, 255, 255, 0.02);
}

.breadcrumb-item a {
    color: #fff;
}

.breadcrumb-item.active {
    color: #fff;
    opacity: 0.9;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    opacity: 0.6;
    content: "»";
}

.card-list-weather {}

.card-list-weather .avatar {
    width: 50px;
    height: 50px;
}

.weather-item {
    display: block;
}

.weather-item:nth-of-type(odd)>.weather-item-container {
    background-color: rgba(0, 0, 0, 0.05);
    color: #212529;
}

.weather-item-container {
    padding: 5px 5px;
}

.search {
    width: 350px;
}

.search-group {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    color: #015ba5;
}

.search-input {
    text-indent: 15px;
}

.img-container img {
    width: 100%;
}

.html-content img {
    max-width: 100% !important;
    height: auto !important;
}

.bootstrap-autocomplete.dropdown-menu {
    z-index: 99999;
}

.location-name-main {
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
}

.location-name-main>a {
    color: #ffffff;
}

.cover-content {
    margin-top: 20px;
    max-height: 500px;
    padding: 0 15px;
    overflow: hidden;
}

.cover-content.active {
    max-height: initial !important;
}

.list-top-new-items {
    position: relative;
    padding: 5px;
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.05);
    color: #212529;
}

.list-top-new-items img {
    width: 100px;
}

.list-top-new-items h5 {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}

.top-news-link {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.list-top-new-items:hover {
    background: rgba(255, 255, 255, 0.08) !important;
}

.top-news {}

.top-news h2 {
    color: #ffffff;
    font-size: 16px;
    padding-top: 10px;
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}

.weather-sun {
    text-align: right;
}

.top-news {}

h3.title {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 25px;
    color: #333;
    font-weight: bold;
}

h3.title:hover {
    color: #333;
    opacity: 0.9;
}

.abs {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    line-height: 25px;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    color: #333;
}

.news-category {
    display: inline-block;
    margin: 5px 0 5px 0;
    padding: 0 10px;
    background-color: #398bca;
    color: #fff;
}

.news-category:hover {
    color: #fff;
    opacity: 0.9;
}

.news-list img {
    max-width: 150px;
}

.news-list h3.title {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 8px;
    line-height: 25px;
    color: #333;
}

.news-list li {
    border-top: 1px dashed rgba(0, 0, 0, 0.08);
    padding-top: 10px;
    padding-bottom: 10px;
}

.news-list li:first-child {
    border: unset;
    padding-top: unset;
}

.news-link {
    display: block;
}

.html-content h1 {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}

.html-content h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.html-content h3 {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}

.khu-vuc-lan-can:hover {
    background: rgba(255, 255, 255, 0.08) !important;
}

.khu-vuc-lan-can a {
    padding: 0px 5px;
    color: #fff;
}

.toc-links ul {
    counter-reset: item;
    margin-top: 5px !important;
}

.toc-links ul,
.toc-links li {
    background: 0 0;
    list-style: none none;
    line-height: 1.6;
    margin: 0;
    overflow: hidden;
    z-index: 1;
    padding: 0;
}

.toc-links ul li {
    font-size: 95%;
    margin-bottom: 5px;
}

.toc-links a {
    color: #444;
    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
}

.toc-links li a::before {
    content: counters(item, ".") ". ";
    display: inline-block;
    counter-increment: item;
    margin-right: .2em;
}

.toc-links ul ul {
    margin-left: 1.5em;
}

.toc-container {
    background: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    display: table;
    margin-bottom: 1em;
    padding: 10px;
    position: relative;
    width: auto;
}

.toc-title-container {
    display: table;
    width: 100%;
}

p.toc-title {
    font-weight: 500;
    font-size: 120%;
    text-align: left;
    line-height: 1.45;
    margin: 0;
    padding: 0;
}

.title-toggle {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.title-toggle i {
    font-size: 16px;
    margin-left: 2px;
    color: #444;
}

.ez-toc-heading-1 {
    font-size: 16px;
}

.ez-toc-heading-2 {
    font-size: 14px;
}

.ez-toc-link:hover {
    text-decoration: underline;
}

.btn-toggle-toc {
    padding: 0px 3px;
    margin-left: 5px;
}

.share-button {
    display: flex;
    align-content: center;
}

.share-button span {
    display: block;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.btn-facebook {
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: #4267B2;
}

.btn-facebook i {
    font-size: 28px;
    align-self: center;
}

.btn-facebook:hover {
    background: #4267B2;
    color: #fff;
}

.social-footer {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
}

.social-footer i {
    display: block;
    padding: 3px;
}

.social-footer img {
    width: 17px;
    height: 17px;
}

.social-pinterest {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.footer-items-left {
    display: flex;
}

.footer-items-left a,
.footer-items-left span {
    margin-right: 10px;
    align-self: center;
}

.social-facebook {
    color: #4267B2 !important;
}

.social-facebook:hover {
    color: #fff !important;
    background: #4267B2 !important;
}

.social-twitter {
    color: #1DA1F2 !important;
}

.social-twitter:hover {
    color: #fff !important;
    background: #1DA1F2 !important;
}

.social-instagram {
    color: #C13584 !important;
}

.social-instagram:hover {
    color: #fff !important;
    background: #C13584 !important;
}

.social-linkedin {
    color: #0e76a8 !important;
}

.social-linkedin:hover {
    color: #fff !important;
    background: #0e76a8 !important;
}

.social-pinterest {
    color: #4267B2 !important;
}

.social-pinterest:hover {
    color: #fff !important;
    background: #4267B2 !important;
}

.social-youtube {
    color: #FF0000 !important;
}

.social-youtube:hover {
    color: #fff !important;
    background: #FF0000 !important;
}

.social-footer-items {
    display: flex;
}

.weather-day {
    border-top: 1px solid #dedede;
}

.weather-summary {
    display: list-item;
    color: #2b2b2b;
    cursor: pointer;
    padding: 10px 0px;
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.weather-summary-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.weather-summary-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    font-size: .875rem;
}

.summary-day {
    padding-right: 6px;
    flex: 0 0 100px;
    margin: 0;
    font-weight: 400;
    font-size: .875rem !important;
    white-space: nowrap;
}

.summary-temperature {
    padding: 0 6px 0 0;
    flex: 0 0 100px;
    display: flex;
    align-items: center;
}

.summary-description {
    padding-right: 6px;
    margin: 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.summary-humidity {
    padding-right: 6px;
    flex: 0 0 56px;
    display: flex;
    align-items: center;
}

.summary-speed {
    flex: 0 0 125px;
    display: flex;
    align-items: center;
    min-width: 125px;
}

.summary-temperature-max-value {
    font-size: 1.25rem;
    font-weight: 700;
}

.weather-summary-toggle {}

.weather-content-item {
    flex: 0 0 125px;
}

.weather-content-item-sun {
    flex: 0 0 auto;
}

.card-list-weather .header-thoi-tiet-ngay {
    border-bottom: unset !important;
}

.weather-detail-cac-ngay .avatar {
    width: 20px;
}

.weather-content-item-description {
    display: none !important;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

.air-title {
    font-size: 16px;
    line-height: 20px;
}

.air-description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}

.air-rules {
    display: flex;
}

.air-api {
    text-align: center;
    width: 80px;
    height: 25px;
    align-self: center;
    line-height: 25px;
}

.air-api-1 {
    background-color: #009966;
}

.air-api-2 {
    background-color: #ffde33;
}

.air-api-3 {
    background-color: #ff9933;
}

.air-api-4 {
    background-color: #cc0033;
}

.air-api-5 {
    background-color: #660099;
}

.air-active {
    height: 35px;
    line-height: 35px;
}

@media (max-width:768px) {
    .carousel-control-prev {
        left: -20px;
    }
    .carousel-control-next {
        right: -20px;
    }
    .search-group {
        position: unset !important;
    }
    .search-input {
        text-indent: 0;
    }
    .bootstrap-autocomplete.dropdown-menu {
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
        border-radius: unset;
        top: 5px;
        border: 0;
    }
    .bootstrap-autocomplete .dropdown-item.active>.text-muted {
        color: #fff !important;
    }
    .weather-detail {
        flex-wrap: wrap;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .logo img {
        height: 40px;
    }
    .weather-item-container h3 {
        font-size: 17px;
    }
    .weather-item-container h6 {
        font-size: 14px;
    }
    .weather-item-container small.text-muted {
        font-size: 12px;
    }
    .news-list img {
        max-width: 80px;
    }
    .location-name-main {
        font-size: 14px;
    }
    .zalo-share-button {
        margin-top: 0 !important;
    }
    h1.card-title {
        font-size: 16px;
    }
    span.card-title {
        width: 100%;
    }
    span.card-title .share-button {
        justify-content: flex-end;
    }
    .footer-items-left {
        flex-wrap: wrap;
    }
    .summary-day {
        flex: 0 0 75px;
    }
    .summary-img {
        width: 40px;
    }
    .summary-description-detail {
        display: none;
    }
    .summary-speed {
        display: none;
    }
    .weather-content-item-description {
        display: flex !important;
    }
    .weather-feature-day {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .weather-feature-day-btn {
        margin-bottom: 5px;
    }
    .col-custom {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .air-container {
        flex-flow: column;
    }
    .air-api {
        font-size: 11px;
    }
    .air-components {
        font-size: 11px;
    }
    .mega-submenu li a {
        margin-bottom: 5px;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    }
    .navbar .container {
        overflow: unset;
    }
    .weather-feature-day>a {
        width: 75px
    }
}

@media (min-width:576px) and (max-width:768px) {
    .search {
        width: 350px;
    }
}

@media (max-width:576px) {
    .search {
        width: 200px;
    }
}

@media screen and (max-width:400px) {
    .search {
        width: 150px;
    }
}

.menu .nav-link {
    white-space: nowrap;
}